@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: #232e35;
    /* untuk judul / title */
    --secondaryTextColor: #656d72;
    /* untuk teks biasa */

    --borderColor: #d3d3d3;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #f2f2f2;
    --thirBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

/* Tiltes */
.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
    position: relative;
}

.pre-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--lineColor);
    position: absolute;
    left: 0;
    top: 5px;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

/* Layout */
.gird-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .5);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav li a {
    color: var(--primaryTextColor);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1px 10px;
}

.logo a {
    color: var(--primaryTextColor);
}

.logo:hover {
    box-shadow: 2px 2px 5px rgb(0, 255, 247);
}

.nav li {
    padding: .4rem .9rem;
    background-color: white;
    border: 1.5px solid var(--borderColor);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.nav li:hover {
    box-shadow: 2px 2px 5px rgb(0, 255, 247);
}


/* burger-menu */
.burger-menu div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}

.burger-menu {
    display: none;
    z-index: 99;
    position: fixed;
    top: 20px;
    right: 30px;
}

/* hero */
#hero {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
}

.hero-name span {
    color: var(--primaryIconColorHover);
}

.hero-right {
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 80%;
}

/* Section Services */
#services {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    border: var(--borderColor);
    border-radius: 10px;
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 600;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.2rem;
    border-radius: 5px;
}

.service-icon svg {
    fill: var(--primaryIconColorHover);
}


/* Portfolios Section */
#portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.portfolio-cover {
    /* width:  250px; */
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio h4 {
    font-weight: bold;
    font-size: 1.05rem;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--borderColor);
    padding: .4rem 1rem;
    color: var(--secondaryTextColor);
}

/* Section Skills */
#skills {
    padding: var(--sectionPadding);
    background-color: var(--secondaryBackgroundColor);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 .7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background-color: var(--borderColor);
    position: relative;
}

.education-info p {
    margin: .6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/* the dot on the line */
.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--borderColor);
    position: absolute;
    left: -6px;
}


.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
}

.skills-list {
    line-height: 1.5;
    padding: 0 1rem;
}

/* Contact Section */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-item {
    display: flex;
    gap: 3rem;
    margin-bottom: 2.5rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", serif;
    background-color: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    background: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 0;
    background-color: var(--primaryIconColor);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-submit:hover {
    background-color: #5d51e8;
}

.contact-item-icon {
    background-color: var(--thirBackgroundColor);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.contact-item-icon svg {
    fill: #5d51e8;
}

.contact-item-detail h4 {
    margin-bottom: .6rem;
}


/* Footer */
footer {
    padding: 2rem 0;
    background-color: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icon {
    margin-bottom: 1rem;
}

.footer-icon a {
    margin: 0 .5rem;
}

.footer-icon svg {
    fill: #3e3f40;
}

.footer-icon a:hover svg {
    fill: black;
}