.card{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    transform: translateY(20vh);
    background-color: #111;
    border: 3px solid #111;
    color: #fff;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-top: -50px;
}

.card .in-card{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 96.5%;
    height: 97.5%;
    background-color: rgba(50, 50, 50, .9);
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-family: serif;
}

.card .in-card span{
    color: aqua;
}

.card .in-card h1{
    font-size: 250px;
    color: #ff0000;
}

.card .in-card:before{
    content: " ";
    position: absolute;
    z-index: -1;
    background-color: #ff003d;
    background:linear-gradient(180deg,#ff003d 19%,#00d4ff 91%);
    width: 100px;
    height: 550px;
    top: -75px;
    left: 100px;
    animation: rotate 3s infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);
    }
}