/* exstra small devices */
@media screen and (max-width:600px) {
    .hamberger-menu {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .hero {
        justify-content: center;
    }

    .hero .hero-deskripsi {
        text-align: center;
    }

    .hero .hero-deskripsi h1 {
        font-size: 2rem;
    }
}

/* small devices */
@media screen and (min-width:600px) {
    .hamberger-menu {
        display: block;
    }
}

/* medium devices */
@media screen and (min-width:768px) {
    .hamberger-menu {
        display: none;
    }

    .navbar ul {
        display: flex;
    }

    .hero {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero .hero-img {
        top: 0;
    }

    .hero .hero-img img {
        max-width: 20rem;
    }

    .hero .hero-deskripsi {
        text-align: left;
    }

    .hero .hero-deskripsi h1 {
        font-size: 3rem;
    }

    .hero .hero-deskripsi p {
        margin: .3rem 0 1.3rem;
        font-size: .85rem;
    }
}

/* large devices */
@media screen and (min-width:992px) {
    .hero .hero-deskripsi h1 {
        font-size: 3rem;
    }

    .hero .hero-deskripsi p {
        margin: .3rem 0 1.3rem;
        font-size: .85rem;
    }

    .hero .hero-img img {
        max-width: 24rem;
    }
}

/* extra large devices */
@media screen and (min-width:1200px) {
    .hero .hero-deskripsi h1 {
        font-size: 3.5rem;
    }
}