@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;


    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #000;
    --secondaryBackgroundColor: #919191;

    --sectionPadding: 0 5rem;

    --itemBorderRadius: 0.7rem;

    --fontFamily: mv boli, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--primaryTextColor);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


/* Style Medsos*/
.medsos {
    padding: var(--sectionPadding);
    background-color: var(--primaryBackgroundColor);
}

header .medsos a i {
    font-size: 1.5rem;
    padding: .4rem;
    color: white;
}

header .medsos a i:hover {
    box-shadow: 3px 3px 5px black;
}


/* Style Navbar*/
header .navbar {
    padding: var(--sectionPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: var(--fontFamily);
    font-size: 1.5rem;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    padding: 1.3rem;
    font-size: .9rem;
    transition: .3s linear;
}

.navbar ul li a:hover {
    background-color: var(--primaryBackgroundColor);
    color: white;
}

.active {
    background-color: var(--primaryBackgroundColor);
    color: white;
}

.navbar .hamberger-menu {
    display: none;
}

/* Hero */
.hero-section {
    position: relative;
}

.hero-section a {
    color: white;
    position: absolute;
    z-index: 99;
    top: 40%;
    left: 40%;
    padding: 1.5rem 2.3rem;
    border: 3px solid white;
}

.hero-section img {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    filter: blur(1.5px);
    /* filter: brightness(5); */
}