/* BREAKPOINT */
@media screen and (min-width: 481px) {
    .products.main .item {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 768px) {
    .products .content {
        font-size: 1.25em;
    }

    .products.mini,
    .banner .row,
    .widgets .row {
        flex: 0 0 50%;
    }

    .products.main .item {
        flex: 0 0 33.3333%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }

    .desktop-hide {
        display: none;
    }

    .mobile-hide {
        display: block;
    }

    .header-nav {
        margin: 0;
        padding: 0;
        border-bottom: 0;
    }

    .header-nav .right li>a {
        margin-left: 1em;
    }

    /* Mega Menu */
    nav .mega {
        position: absolute;
        width: var(--percent100);
        top: auto;
        left: 0;
        right: 0;
        padding: 2em;
        line-height: 2em;
        background-color: var(--border-color);
        z-index: 100;

        display: none;
    }

    nav li.has-child:hover .mega {
        display: block;
    }

    nav .mega .wrapper {
        display: flex;
    }

    nav .mega h4 {
        font-size: .8em;
        text-transform: uppercase;
    }

    nav .mega ul {
        font-size: var(--font-small);
    }

    nav .mega .women-brands {
        display: flex;
        flex-wrap: wrap;
        max-width: 180px;
    }

    nav .mega .women-brands li {
        min-width: 80px;
    }

    nav .mega .view-all {
        margin-top: 1em;
    }

    nav .mega .products {
        flex: 2;
        padding: 0;
        align-items: center;
        position: relative;
    }

    nav .mega .products .row {
        width: var(--percent100);
    }

    nav .mega .products .media {
        height: 400px;
    }

    nav .mega .products .text-content {
        line-height: initial;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 4em;
        width: var(--percent100);
    }

    nav .mega .products .text-content h4 {
        font-weight: var(--fw8);
        font-size: 2em;
        color: var(--secondary-dark-color);
    }

    .header-main .right {
        max-width: 600px;
        margin-left: auto;
    }


    /* Department Menu */
    .dpt-menu {
        position: absolute;
        top: var(--percent100);
        width: 300px;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-top: 0;
        border-bottom: 0;
    }

    .dpt-menu>ul>li>a {
        font-weight: var(--fw5);
        padding: 0 1.5em;
        border-bottom: 1px solid var(--border-color);
    }

    .dpt-menu .has-child>ul,
    .dpt-menu .mega {
        position: absolute;
        top: 0;
        left: var(--percent100);
        width: var(--percent100);
        height: auto;
        min-height: var(--percent100);
        padding: 1.5em;
        line-height: 2.5em;
        font-size: var(--font-small);
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-top: 0;
        display: none;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;
    }

    /* showing the first sub menu */

    .dpt-menu .beauty ul {
        background-image: url(../images/assets/menu/menu_bg1.jpg);
    }

    .dpt-menu .electronics ul {
        background-image: url(../images/assets/menu/menu_bg2.jpg);
    }

    .dpt-menu .women-fashion ul {
        background-image: url(../images/assets/menu/menu_bg3.jpg);
    }

    .dpt-menu .homekit .mega {
        background-image: url(../images/assets/menu/menu_bg4.jpg);
    }

    .dpt-menu .has-child> :where(ul, .mega)::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }


    .dpt-menu .mega {
        width: auto;
        min-width: var(--percent100);
    }

    .dpt-menu .has-child:hover .mega {
        display: flex;
    }

    /* SLIDER */
    .slider>div>.wrapper {
        width: calc(100% - (300px + 2em));
        margin-left: auto;
    }


    /* TRENDING */
    .trending .products,
    .product-categories .row {
        flex: 0 0 33.3333%;
    }

    .products.big .media {
        height: 373px;
    }

    .products.main .item,
    .widgets .row {
        flex: 0 0 25%;
    }

    /* newsletter */
    .newsletter .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }
}