@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    list-style: none;
    text-decoration: none;
}

a {
    color: var(--text-color);
}

/* Variable */
:root {
    --main-color: hsl(131, 70%, 40%);
    --main-light: hsl(131, 100%, 51%);
    --container-color: #f8f7fc;
    --text-color: #1a1d22;
    --bg-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-color: hsl(131, 70%, 45%);
}

body {
    color: var(--text-color);
}

img {
    width: 100%;
}

h1 {
    font-size: clamp(1.5rem, 2vw, 3rem);
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem
}

p,
a {
    font-size: .75rem;
}

/* GLOBAL STYLE */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
    background-color: var(--bg-color);
}

.grid-item-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 2px 4px var(--shadow-color);
    background-color: var(--container-color);
}

.grid-item-2 {
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin: 3rem auto;
    border-bottom: .25rem solid var(--text-color);
    width: fit-content;
}

.section-title span {
    color: var(--main-color);
}

section {
    padding: 2rem 0 1rem;
}

.btn-primary {
    background-color: hsl(131, 70%, 40%);
    color: white;
    padding: 1em 3em;
    border-radius: .3rem;
    transition: background-color, box-shadow, .3s ease-in-out;
    font-size: .75rem;
}

.price {
    color: var(--bg-color);
    padding: .6rem 1.5rem;
    border-radius: .3rem;
    background-color: var(--main-color);
}

.btn-primary:hover,
.shop .cart-item:hover,
.form-newletter .form-left .newsletter-icon:hover {
    background-color: var(--main-light);
    box-shadow: 0 0 10px var(--shadow-color);
    color: var(--text-color);
}

.product-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center top;
    /* Atur agar gambar lebih terfokus pada bagian atas */
    border-radius: .3rem;
    background-color: var(--container-color);
}



.item-title {
    margin: 1rem 0 .5rem;
    font-weight: 300;
    text-transform: capitalize;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    padding: .8rem;
    border-radius: .3rem;
    background-color: var(--main-color);
    font-size: 1rem;
    color: var(--bg-color);
}

/* STYLING */
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    padding: .3rem 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--bg-color);

}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    cursor: pointer;
    font-style: italic;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: var(--bg-color);
    width: 30vw;
    min-width: 280px;
    height: 100vh;
    z-index: 9999;
}


.menu-active {
    right: 0; /* Geser navbar ke posisi terlihat */
    transition: right 0.3s ease-in-out; /* Tambahkan animasi */
}

.nav-link {
    border-radius: .2rem;
    color: var(--text-color);
    transition: background-color 0.3s, transform .3s ease-in-out;
    font-weight: 500;
    position: relative;
}

.navbar .nav-link.active {
    color: var(--main-color);
}

.navbar .nav-link::before {
    content: '';
    width: 110%;
    height: .2rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: -.2rem;
    left: 0;
    opacity: 0;
    transform: translateX(-100%) scaleX(0);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.navbar .nav-link:hover::before {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .user-icon,
.nav-icons .cart-icon {
    font-size: 1.6rem;
    cursor: pointer;
    padding: .5rem;
}

.nav-icons .cart-icon {
    position: relative;
}

.nav-icons .cart-icon span {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 1rem;
    color: red;
}

.nav-icons .bx:hover {
    color: var(--main-light);
}

#menu {
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem;
    z-index: 99999;
}

/* home */
.home {
    background-color: var(--container-color);
    padding: 6rem 1rem 4rem;
}

.home-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-container .home-img {
    order: -1;
    width: 100%;
}

.home-text {
    order: 0;
}



.home-text p {
    margin: 1rem 0 2rem;
}

/* Featured */
.featured img {
    width: 11rem;
    object-fit: cover;
    object-position: center;
    transition: .4s ease-in-out, transform;
}

.featured img:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.featured h2 {
    margin-bottom: 2rem;
    font-weight: 500;
}

.featured a {
    border-radius: .3rem;
    cursor: pointer;
    position: relative;
}

.featured a::before {
    content: '';
    width: 100%;
    height: .3rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: -.5rem;
    left: 0;
    opacity: 0;
    transform: translateX(-100%) scaleX(0);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.featured a:hover::before {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

/* newletter */
.newsletter {
    background-color: var(--container-color);
}

.form-newletter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.form-newletter .form-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-newletter .form-left label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: .3rem;
    margin-bottom: 1rem;
}

.form-newletter .form-left .newsletter-icon {
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: .3rem;
}

.form-newletter .form-left input,
.form-newletter .form-right textarea {
    width: 100%;
    border-radius: .3rem;
    outline: none;
    border: 1px solid var(--main-color);
    padding: 1rem 0 1rem 1rem;
}

.form-newletter .form-left input::placeholder {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.form-newletter .form-left input:focus,
.form-newletter .form-right textarea:focus {
    box-shadow: 0 0 10px var(--main-color);
}

.form-newletter .form-right textarea {
    resize: none;
    height: 100%;
}

/* Footer */
footer {
    padding: 4rem 0 1rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer-grid .footer-item {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: 1.5rem;
}

.footer-grid .social-icons .social-icon {
    padding: .5rem;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
}

.footer-grid .social-icons .social-icon:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .7rem;
    font-size: 500;
    margin-top: 2rem;
    background-color: var(--text-color);
    color: white;
    padding: 1rem 0;
}

.footer-bottom a {
    color: white;
}


/* MEDIA QUERY */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


    h1 {
        font-size: clamp(1.8rem, 3vw, 3.5rem);
    }

    h3 {
        font-size: 1.1rem
    }

    p,
    a {
        font-size: .9rem;
    }

    .home-img img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


    .home-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-container .home-img {
        order: 1;
    }

    .form-newletter {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .grid-container-2 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }


    .navbar {
        flex-direction: row;
        position: static;
        width: inherit;
        height: inherit;
    }

    #menu {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid-container-2 {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}