/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Global Styles */
* {
    font-family: "Poppins", sans-serif;
    /* Clean, modern font for a professional look */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Smooth scrolling effect for better navigation */
    scroll-padding-top: 2rem;
    /* Keeps content centered during scrolling */
    list-style: none;
    text-decoration: none;
}

/* Color Palette */
:root {
    --main-color: #ff7070;
    /* Bold red for buttons, highlights, and important items */
    --text-color: #171427;
    /* Dark text color for readability */
    --bg-color: #fff;
    /* White background for a clean, minimal design */
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 66.75rem;
    width: 90%;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

#cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

main {
    padding: 4rem 0 3rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.75rem, auto));
    gap: 1.2rem;
}

.product-box {
    position: relative;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    box-shadow: -0.0625rem 0px 0.3125rem 0.03125rem var(--text-color);
}

.product-box img {
    height: auto;
    width: 100%;
    margin-bottom: 0.9375rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
}

.product-box:hover img {
    transition: .3s all;
    transform: scale(0.9);
}

.product-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    top: 88%;
    left: 84%;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0.625rem;
    border-radius: .3rem;
    cursor: pointer;
    z-index: 5;
    transition: .4s all;
}

.add-cart:hover {
    color: var(--bg-color);
    box-shadow: 3px 3px 5px var(--text-color);
    background-color: var(--main-color);
}

/* cart */
.cart { 
    position: fixed;
    top: 0;
    right: -100%;
    /* right: 0; */
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -0.0625rem 0px 0.3125rem 0.03125rem var(--text-color);
    transition: 0.3s cubic-bezier(0.68, 0.01, 0.58, 1);
}

.cart.active{
    right: 0;
}

.cart-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
}

.cart-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 30%;
    padding: 2px 4px;
    text-align: center;
    font-size: .9rem;
}

#cart-remove {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

#cart-remove:hover {
    color: var(--main-color);
}

.total {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 1.5rem;
    padding-top: .5rem;
    border-top: 1px solid var(--text-color);
}


.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0;
    font-size: 1rem;
    font-weight: 500;
    padding: .9rem 1.5rem;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    transition: .3s all;
}

.btn-buy:hover {
    background-color: #ff0000;
}

#cart-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: .3s all;
}

#cart-close:hover{
    background-color: var(--main-color);
}