/* exstra small devices */
@media screen and (max-width:600px) {
    .navbar .navbar-icon {
        display: inline-block;
    }

    .navbar form {
        display: none;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(0, 255, 255, .5);
        width: 15rem;
        height: 100vh;
        transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navbar .navbar-nav.active {
        right: 0;
    }
}

/* small devices */
@media screen and (min-width:600px) {

    .navbar .navbar-icon {
        display: inline-block;
    }

    .navbar form {
        display: none;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: black;
        width: 15rem;
        height: 100vh;
        transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navbar .navbar-nav.active {
        right: 0;
    }


}

/* medium devices */
@media screen and (min-width:768px) {


    .navbar .navbar-icon {
        display: none;
    }

    .navbar form {
        display: inline-block;
    }


    .navbar .navbar-nav {
        flex-direction: row;
        position: static;
        top: inherit;
        right: inherit;
        width: inherit;
        height: inherit;
        background-color: inherit;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }
}

/* large devices */
@media screen and (min-width:992px) {}

/* extra large devices */
@media screen and (min-width:1200px) {}