@media (max-width: 768px) {

    .container.about .about-text p:nth-child(3),
    .container.services p {
        line-height: 1.5;
        font-size: 0.8rem;
    }
}

@media (max-width: 426px) {
    .hero {
        flex-direction: column;
        display: flex;
    }

    .hero .hero-left p:nth-child(1) {
        font-size: 1rem;
    }

    .hero .hero-left p:nth-child(2) {
        font-size: 2rem;
    }

    .hero .hero-right {
        order: -1;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .hero .hero-right img {
        width: 70%;
    }

    /* About */
    .container.about {
        flex-direction: column;
    }

    .container.about .about-text p:nth-child(1),
    .container.about .about-text p:nth-child(2) {
        text-align: center;
    }

    .container.about .about-text p:nth-child(3) {
        text-align: justify;
    }

    .container.contact .contact-me p {
        font-size: 1rem;
    }

    /* Message */
    .container.message {
        margin-top: 0.3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .container.message {
        padding: 1rem;
    }

    .container.message .send-message {
        margin-top: 1rem;
    }

    .container-message .message-left {
        margin-bottom: 0rem;
    }
}