/* Laptop */
@media (max-width: 1024px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/* Mobile */
@media (max-width: 426px) {
    html {
        font-size: 55%;
    }

    .hero,
    .about,
    .contact {
        display: flex;
        flex-direction: column;
    }

    .hero .hero-right {
        order: -1;
    }
}