@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;
    --sectionPaddingTipe: 0 5rem;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f3fe;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
    color: var(--primaryTextColor);
}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
    padding: .5rem 5rem;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .7);
    border-bottom: 1px solid var(--secondaryTextColor);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    font-weight: bold;
    transition: .2s ease-in-out;
}

nav ul li a:hover {
    border-bottom: 2px solid var(--primaryIconColor);
    color: var(--primaryIconColorHover);
}

.logo a {
    font-weight: bold;
}


/* Section Hero */
.hero,
.about {
    padding: var(--sectionPaddingTipe);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero h1 {
    font-size: 2rem;
    color: rgb(0, 179, 255);
}

.hero p {
    margin: 1rem 0;
}

.hero .nama {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(2, 168, 239);
    margin: 1rem 0;
}

.btn-submit {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(2, 168, 239);
    padding: .5rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: rgb(62, 197, 255);
}

.hero-right img {
    width: 100%;
}

/* Section About */
.about {
    background-color: var(--primaryIconColorHover);
}

.about .about-left {
    display: flex;
    justify-content: center;
}

.about .about-left img {
    width: 80%;
    margin: 0 auto;
}

.about .about-right {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about-right h1 {
    font-size: 2rem;
    color: #fff;
}

.about .about-right p {
    color: white;
    text-align: center;
    margin: .7rem 0 .9rem;
}

.about .about-right .btn-cv {
    color: #232e35;
    font-weight: bold;
    font-size: .9rem;
    padding: .5rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: rgb(235, 235, 255);
}

.about .about-right .btn-cv:hover {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

/* Section Services */
#services {
    padding: var(--sectionPadding);
}

.container-1 {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 2rem 3rem;
    box-shadow: 0 0 5px black;
    border-radius: var(--itemBorderRadius);
    margin-bottom: 4rem;
}

.container-1 .section-title,
.container-2 .section-title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.container-1 .grid-3 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 2.5rem;
}

.container-1 .grid-3 .card-services {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: var(--itemBorderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}

.container-1 .grid-3 .card-services p {
    text-align: center;
    font-size: .9rem;
    line-height: 1.3;
}

.container-1 .grid-3 .card-services .profesi {
    margin: 1rem 0 .6rem;
}

.container-1 .grid-3 .card-services .card-services-icon {
    box-shadow: 2px 2px 3px #111;
    width: fit-content;
    padding: .8rem;
    border-radius: var(--itemBorderRadius);
}

.container-1 .grid-3 .card-services .card-services-icon i {
    font-size: 2rem;
}

.container-2 .section-preTitle {
    text-align: center;
}

.container-2 .grid-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 3rem auto 0;
    padding: 3rem;
    box-shadow: 0 0 5px black;
    border-radius: var(--itemBorderRadius);
}

.container-2 .grid-2 .details {
    flex: 2;
}

.container-2 .grid-2 .details .app {
    font-size: 2rem;
}

.container-2 .grid-2 .details p {
    margin: 1rem 0 1.2rem;
}

.container-2 .grid-2 .details .btn-view {
    padding: 1rem 2rem;
    border-radius: var(--itemBorderRadius);
    font-size: .9rem;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 211, 130);
    transition: .3s ease-in-out;
}

.container-2 .grid-2 .details .btn-view:hover {
    background-color: rgb(255, 166, 0);

}

.container-2 .grid-2 .img-cover {
    flex: 1;
}

.container-2 .grid-2 .img-cover img {
    width: 100%;
}

/* Section Contact */
#contact {
    background-color: var(--primaryIconColorHover);
    margin-top: 50px;
    padding: 3.5rem 6rem;
}

#contact h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

#contact p {
    color: white;
    text-align: center;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;

}

.contact-left img {
    width: 100%;
}

.contact-right input,
.contact-right textarea {
    padding: 10px 10px;
    font-family: serif;
    font-size: .9rem;
    cursor: pointer;
    margin: 3px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    resize: none;
}

.contact-right input::placeholder {
    margin-left: -30px;
    color: var(--secondaryTextColor);
}

.contact-right button {
    width: 100%;
    padding: 10px 0;
    border: none;
    font-family: serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 211, 130);
    transition: .3s ease-in-out;
}

.contact-right button:hover {
    background-color: orange;
}

footer {
    background-color: #232e35;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer svg {
    fill: white;
    margin: 0 5px;
}

footer p {
    text-align: center;
    font-size: small;
    color: rgb(167, 167, 167);
}