:root {
    --primaryColorBg: #ffb300;
    --hoverColor: #ffd365;
    --sizeFont: 1rem;
    --sectionPadding: 5rem 0 0 0;
    --fontFamily: mv boli, sans-serif;

    --primaryTextColor: #000000;
    --secondaryTextColor: #2b2b2b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.2;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

section {
    width: 100%;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* Class button */
.btn-order {
    color: white;
    border: none;
    padding: .5rem 2rem;
    font-size: medium;
    font-weight: bold;
    font-family: var(--fontFamily);
    background-color: var(--primaryColorBg);
    transition: all .3s ease-in-out;
}

.btn-order:hover {
    background-color: var(--hoverColor);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .2);
    transform: translate(-5px, -5px);
    color: black;
    text-shadow: none;
}

.tombolUp {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    z-index: 999;
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.tombolUp a i {
    font-size: 3rem;
    color: aqua;
}

/* Class section-title */
.section-title {
    font-size: 4rem;
    text-align: center;
}

.section-title span {
    font-family: var(--fontFamily);
    color: var(--primaryColorBg);
    position: relative;
}

.section-title span::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fac031;
    position: absolute;
    top: 80%;
    left: 0;
}

/* Style id */
#home,
#about,
#menu,
#gallery,
#review,
#order {
    padding: var(--sectionPadding);
    height: auto;
}

#hamburger-menu {
    display: inline-block;
}

/* Class grid-container */
.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    width: 95%;
    margin: 0 auto;
}


/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: .5rem 1rem;
    z-index: 999;
}

.navbar .nav-logo .logo-mark {
    display: none;
}

.navbar .nav-logo .logo-larga {
    display: inline-block;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30vw;
    height: 100vh;
    transition: 0.3s ease-in-out;
}

.navbar .navbar-nav.active {
    right: 0;
}

.navbar .navbar-nav li a {
    font-size: var(--sizeFont);
    font-weight: 500;
    transition: .2s linear;
}

.navbar .navbar-nav li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--primaryColorBg);
    transition: .2s linear;
}

.navbar .navbar-nav li a:hover::after {
    width: 100%;
}

.navbar .navbar-nav li a:hover {
    color: var(--primaryColorBg);
}

.navbar .nav-icon i {
    font-size: 1.4rem;
}

.navbar .nav-icon .heart {
    color: red;
}

main {
    /* padding: var(--sectionPadding); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-var(var(--sectionPadding)));
    width: 100%;
}

main .main-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 0 0 3rem 6rem;
    width: fit-content;
}

main .main-text span {
    color: var(--primaryColorBg);
    font-family: var(--fontFamily);
}

main .main-text p {
    text-align: justify;
    /* max-width: 600px; */
    /* width: 100%; */
    width: 600px;
    line-height: 1.5;
    position: relative;
    left: 10rem;
    z-index: 99;
}

main .main-text .btn-order {
    margin: 2rem 0 0 6rem;
}

main .main-image img {
    width: 100%;
    min-width: 300px;
}

/* Section About */
.section-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}


.section-about .deskripsi-about {
    text-align: center;
}

.section-about .deskripsi-about p {
    line-height: 1.5;
    width: 90%;
}

.section-about .deskripsi-about h2 {
    margin: .5rem 0 1.3rem;
}

.section-about .image-about img {
    /* margin-top: 5rem; */
    width: 110%;
}

/* Section Menu */
.section-menu .card-menu {
    text-align: center;
    padding: 1rem 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.section-menu .grid-container .card-menu .card-image {
    width: 100%;
    height: 245px;
    margin: 0 auto 1rem;
    overflow: hidden;
}

.section-menu .grid-container .card-menu .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.section-menu .grid-container .card-menu .card-image img:hover {
    transform: scale(1.1);
}

.section-menu .grid-container .card-menu .card-name h1 {
    font-family: var(--fontFamily);
    color: var(--primaryColorBg);
}

.section-menu .grid-container .card-menu .card-detail p {
    margin: .9rem 0;
}

.section-menu .grid-container .card-menu .card-price {
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-menu .grid-container .card-menu .btn-card {
    color: black;
    font-weight: bold;
    padding: .5rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    /* transition: all .3s ease-in-out; */
    position: relative;
}

.section-menu .grid-container .card-menu .btn-card a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 30px;
    width: 0;
    background-color: rgba(255, 213, 0, .5);
    background-color: var(--primaryColorBg);
    transition: .1s linear;
    z-index: -1;
}

.section-menu .grid-container .card-menu .btn-card a:hover::after {
    width: 100%;
    background-color: rgba(255, 213, 0, 1);

}

/* Section Gallery */
.section-gallery .grid-container {
    gap: .5rem;
}

.section-gallery .grid-container .grid-box {
    position: relative;
    background-color: black;
}

.section-gallery .grid-container .grid-box-image img {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.section-gallery .grid-container .box-deskripsi {
    height: 100%;
    text-align: center;
}

.section-gallery .grid-container .box-deskripsi {
    position: absolute;
    top: 0;
    left: 0;
}


.section-gallery .grid-container .box-deskripsi h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--primaryColorBg);
    font-family: var(--fontFamily);
    z-index: 5;
    opacity: 0;
    transform: translateY(-45px);
    transition: .3s ease-in-out;
}

.section-gallery .grid-container .box-deskripsi p {
    color: white;
    margin: 1.7rem 0 2rem;
    z-index: 5;
    opacity: 0;
    transform: scale(0);
    transition: .3s ease-in-out;
}

.section-gallery .grid-container .box-deskripsi .btn-gallery {
    background-color: var(--hoverColor);
    border: none;
    border-radius: 3px;
    padding: .5rem 2rem;
    font-family: var(--fontFamily);
    font-weight: bold;
    z-index: 5;
    opacity: 0;
    transform: translateY(45px);
    transition: .2s ease-in-out;
}


.section-gallery .grid-container .grid-box:hover img {
    opacity: .5;
}

.section-gallery .grid-container .grid-box:hover h1 {

    opacity: 1;
    transform: translateY(0);
}

.section-gallery .grid-container .grid-box:hover p {
    opacity: 1;
    transform: scale(1);
}

.section-gallery .grid-container .grid-box:hover .btn-gallery {
    opacity: 1;
    transform: translateY(0);
}

.section-gallery .grid-container .box-deskripsi .btn-gallery:hover {
    background-color: var(--primaryColorBg);
}

/* Section review */
.section-review .grid-review {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    width: 95%;
    margin: 2rem auto 0;
}

.section-review .grid-review .grid-review-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem 1.5rem;
    text-align: center;
}

.section-review .grid-review .grid-review-box .picture-box {
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}

.section-review .grid-review .grid-review-box .picture-box:hover {
    transform: translateY(-45px);
}

.section-review .grid-review .grid-review-box .picture-box img {
    width: 85%;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, .4);
}

.section-review .grid-review .grid-review-box .picture-box .name {
    font-family: var(--fontFamily);
}

/* Section Order */
.section-order {
    background-image: url("/images/background/bg2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.section-order .grid-order {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
    top: -100px;
}

.section-order .grid-order .order-image {
    flex: 1;
}

.section-order .grid-order .order-image img {
    width: 100%;
}

.section-order .grid-order form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.section-order .grid-order form .input input {
    width: 100%;
    padding: .6rem;
    margin-top: .4rem;
    background-color: rgba(245, 245, 245, 0.7);
    outline: none;
}

.section-order .grid-order form .input input::placeholder {
    font-size: .9rem;
}

.section-order .grid-order form .input input:focus {
    box-shadow: 0 0 10px var(--primaryColorBg);
    border-color: var(--primaryColorBg);
    border: 2px solid #fac031;
}

/* Section Our team */
#ourTeam {
    height: auto;
    /* padding: 4rem 0 2.5rem; */
}

.section-ourTeam {
    background-image: url("/images/background/bg1.jpg");
    background-position: center;
    background-size: cover;
    padding: 4rem 0 5rem;
    width: 100%;
    height: fit-content;
}

.section-ourTeam .section-title {
    padding-bottom: 5rem;
}

.section-ourTeam .grid-ourTeam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-ourTeam .grid-ourTeam .box-team {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    transition: 0.4s;
}

.section-ourTeam .grid-ourTeam .box-team .profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.section-ourTeam .grid-ourTeam .box-team img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.section-ourTeam .grid-ourTeam .box-team .profile:hover img {
    border-radius: 20px;
    margin-top: -230px;
}

.section-ourTeam .grid-ourTeam .box-team .profile:hover {
    border-radius: 20px;
    height: 320px;
}

.section-ourTeam .grid-ourTeam .profile .info {
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.section-ourTeam .grid-ourTeam .profile:hover .info {
    top: 60%;
}

.section-ourTeam .grid-ourTeam .profile .info .name {
    color: #fac031;
    margin-bottom: 15px;
}

.section-ourTeam .grid-ourTeam .profile .info .bio {
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.section-ourTeam .grid-ourTeam .profile .info .team_icon i {
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.section-ourTeam .grid-ourTeam .profile .info .team_icon i:hover {
    color: #fac031;
}

/* Footer */
footer {
    background-color: #eee;
    padding: 1rem 0 0;
    height: auto;
}

footer .footer-container {
    width: 95%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

footer .footer-container .footer-tag h2 {
    margin-bottom: 1rem;
}

footer .footer-container .footer-tag a {
    display: block;
    margin-bottom: .7rem;
}

footer .footer-container .footer-tag a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--primaryColorBg);
    transition: .2s linear;
    margin: 0 auto;
}

footer .footer-container .footer-tag a:hover::after {
    width: 30%;
}

footer .footer-container .footer-tag a:hover {
    color: var(--primaryColorBg);
}

footer .footer-container .footer-sosmed i {
    padding: .5rem;
    border: 1px solid var(--primaryColorBg);
    border-radius: 3px;
    cursor: pointer;
}

footer .footer-container .footer-sosmed i:hover {
    box-shadow: 0 0 10px var(--primaryColorBg);
}

footer .footer-container .footer-tag ul li,
footer .footer-container .footer-tag p,
footer .footer-container .footer-sosmed h2 {
    margin-bottom: .7rem;
}

footer .madeIn {
    padding: .5rem 0;
    text-align: center;
    color: white;
    font-size: small;
    font-style: italic;
    background-color: rgb(42, 42, 42);
    font-family: var(--fontFamily);
}

footer .madeIn span {
    color: var(--primaryColorBg);
    font-family: var(--fontFamily);
}