:root {
    --primaryColorBg: #ffb300;
    --hoverColor: #ffd365;
    --sizeFont: 1rem;
    --sectionPadding: 5rem 0 0 0;
    --fontFamily: mv boli, sans-serif;

    --primaryTextColor: #000000;
    --secondaryTextColor: #2b2b2b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.2;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

section {
    width: 100%;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* Class button */
.btn-order {
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    border: none;
    padding: .5rem 2rem;
    font-size: medium;
    font-weight: bold;
    font-family: var(--fontFamily);
    background-color: var(--primaryColorBg);
    transition: all .3s ease-in-out;
}

.btn-order:hover {
    background-color: var(--hoverColor);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .2);
    transform: translate(-5px, -5px);
    color: black;
    text-shadow: none;
}

/* Class section-title */
.section-title {
    font-size: 4rem;
    text-align: center;
}

.section-title span {
    font-family: var(--fontFamily);
    color: var(--primaryColorBg);
    position: relative;
}

.section-title span::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fac031;
    position: absolute;
    top: 80%;
    left: 0;
}

/* Style id */
#home,
#about,
#menu,
#gallery,
#review,
#order {
    padding: var(--sectionPadding);
    height: auto;
}

/* Class grid-container */
.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    width: 95%;
    margin: 0 auto;
}


/* Navigation */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: .5rem 0;
    z-index: 999;
}

.navbar .nav-logo a {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: var(--primaryColorBg);
    font-family: mv boli, sans-serif;
}


.navbar ul li {
    display: inline-block;
    margin: 0 1rem;
}

.navbar ul li a {
    font-size: var(--sizeFont);
    font-weight: 500;
    transition: .2s linear;
}

.navbar ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--primaryColorBg);
    transition: .2s linear;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar ul li a:hover {
    color: var(--primaryColorBg);
}

.navbar .nav-icon i {
    font-size: 1.2rem;
}

.navbar .nav-icon .heart {
    color: red;
}

main {
    /* padding: var(--sectionPadding); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-var(var(--sectionPadding)));
    width: 100%;
}

main .main-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 0 0 3rem 6rem;
    width: fit-content;
}

main .main-text span {
    color: var(--primaryColorBg);
    font-family: var(--fontFamily);
}

main .main-text p {
    text-align: justify;
    /* max-width: 600px; */
    /* width: 100%; */
    width: 600px;
    line-height: 1.5;
    position: relative;
    left: 10rem;
    z-index: 99;
}

main .main-text .btn-order {
    margin: 2rem 0 0 6rem;
}

main .main-image img {
    width: 100%;
    min-width: 300px;
}

/* Section About */
.section-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}


.section-about .deskripsi-about {
    text-align: center;
}

.section-about .deskripsi-about p {
    line-height: 1.5;
    width: 90%;
}

.section-about .deskripsi-about h2 {
    margin: .5rem 0 1.3rem;
}

.section-about .image-about img {
    /* margin-top: 5rem; */
    width: 110%;
}

/* Section Menu */
.section-menu .card-menu {
    text-align: center;
    padding: 1rem 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.section-menu .grid-container .card-menu .card-image {
    width: 100%;
    height: 245px;
    margin: 0 auto 1rem;
    overflow: hidden;
}

.section-menu .grid-container .card-menu .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.section-menu .grid-container .card-menu .card-image img:hover {
    transform: scale(1.1);
}

.section-menu .grid-container .card-menu .card-name h1 {
    font-family: var(--fontFamily);
    color: var(--primaryColorBg);
}

.section-menu .grid-container .card-menu .card-detail p {
    margin: .9rem 0;
}

.section-menu .grid-container .card-menu .card-price {
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-menu .grid-container .card-menu .btn-card {
    color: black;
    font-weight: bold;
    padding: .5rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    /* transition: all .3s ease-in-out; */
    position: relative;
}

.section-menu .grid-container .card-menu .btn-card a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 30px;
    width: 0;
    background-color: rgba(255, 213, 0, .5);
    background-color: var(--primaryColorBg);
    transition: .1s linear;
    z-index: -1;
}

.section-menu .grid-container .card-menu .btn-card a:hover::after {
    width: 100%;
    background-color: rgba(255, 213, 0, 1);

}

/* Section Gallery */
.section-gallery .grid-container {
    gap: .5rem;
}

.section-gallery .grid-container .grid-box {
    position: relative;
    background-color: black;
}

.section-gallery .grid-container .grid-box-image img {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.section-gallery .grid-container .box-deskripsi {
    height: 100%;
    text-align: center;
}

.section-gallery .grid-container .box-deskripsi {
    position: absolute;
    top: 0;
    left: 0;
}


.section-gallery .grid-container .box-deskripsi h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--primaryColorBg);
    font-family: var(--fontFamily);
    z-index: 5;
    opacity: 0;
    transform: translateY(-45px);
    transition: .3s ease-in-out;
}

.section-gallery .grid-container .box-deskripsi p {
    color: white;
    margin: 1.7rem 0 2rem;
    z-index: 5;
    opacity: 0;
    transform: scale(0);
    transition: .3s ease-in-out;
}

.section-gallery .grid-container .box-deskripsi .btn-gallery {
    background-color: var(--hoverColor);
    border: none;
    border-radius: 3px;
    padding: .5rem 2rem;
    font-family: var(--fontFamily);
    font-weight: bold;
    z-index: 5;
    opacity: 0;
    transform: translateY(45px);
    transition: .2s ease-in-out;
}


.section-gallery .grid-container .grid-box:hover img {
    opacity: .5;
}

.section-gallery .grid-container .grid-box:hover h1 {

    opacity: 1;
    transform: translateY(0);
}

.section-gallery .grid-container .grid-box:hover p {
    opacity: 1;
    transform: scale(1);
}

.section-gallery .grid-container .grid-box:hover .btn-gallery {
    opacity: 1;
    transform: translateY(0);
}

.section-gallery .grid-container .box-deskripsi .btn-gallery:hover {
    background-color: var(--primaryColorBg);
}

/* Section review */
.section-review .grid-review {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    width: 95%;
    margin: 2rem auto 0;
}

.section-review .grid-review .grid-review-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem 1.5rem;
    text-align: center;
}

.section-review .grid-review .grid-review-box .picture-box {
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}

.section-review .grid-review .grid-review-box .picture-box:hover {
    transform: translateY(-45px);
}

.section-review .grid-review .grid-review-box .picture-box img {
    width: 85%;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, .4);
}

.section-review .grid-review .grid-review-box .picture-box .name {
    font-family: var(--fontFamily);
}

/* Section Order */
/* .section-order {
    background-image: url(images/background/bg2.png);
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
} */

.section-order .grid-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-order .grid-order .form-input-1 label {
    font-size: 1rem;
}

.section-order .grid-order .form-input-1 {
    flex: 1;
}

.section-order .grid-order .image-order {
    flex: 1;
    outline: 1px solid red;
}

.section-order .grid-order .image-order img {
    width: 100%;
}

.section-order .grid-order .form-input-1 .form-input-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    outline: 1px solid blue;
    gap: 1rem;
    padding: 1rem;
    /* justify-content: start; */
}

.section-order .grid-order .form-input-1 .form-input-2 input {
    width: 100%;
}