/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Viga:wght@400;500;600;700;800&display=swap");

/* VARIABEL */
:root {
    --primary-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    /* box-shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

/* GOBAL CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 50px 100px;
}

/* Section_title */
.section-title {
    font-size: 2rem;
    color: var(--dark-color);
    text-align: center;
    text-transform: uppercase;
}

.section-title span {
    color: var(--primary-color);
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 7%;
    transition: .3s linear;
    background-color: var(--text-color);
}

.navbar .nav-brand {
    width: 60px;
}

.navbar .nav-brand {
    color: var(--bg-color);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 500;
}

.navbar .nav-brand span {
    color: var(--primary-color);
}

.navbar .navbar-nav a {
    display: inline-block;
    margin: 0 .3rem;
    color: var(--bg-color);
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.navbar .navbar-nav a::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -5px;
    left: 0;
    z-index: 9;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s;
}

.navbar .navbar-nav a:hover,
footer .copyright p:hover {
    color: var(--primary-color);
}

.navbar .navbar-nav a:hover::after {
    width: 100%;
    transform: scaleX(1);
}


.navbar .navbar-icon i {
    font-size: 1.4rem;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 9999;
    margin: 0 .2em;
}

.navbar .navbar-icon i:hover {
    color: var(--primary-color);
}

#hamburger-menu {
    color: var(--bg-color);
    font-size: 1.5rem;
    z-index: 999999;
    cursor: pointer;
    display: none;
}

.navbar .search-box {
    position: absolute;
    top: 100%;
    /* left: -100%; */
    background-color: var(--bg-color);
    width: 0;
    opacity: 0;
    transform: translate(50%);
}

.navbar .search-box.active {
    width: 100%;
    left: 0;
    opacity: 1;
    transform: scaleX(1);
    box-shadow: var(--box-shadow);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}

.navbar .search-box input {
    padding: .8rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
}

.navbar .search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

/* home */
.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/background/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.hero .hero-text h1 {
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1;
}

.hero .hero-text p {
    font-size: .9rem;
    color: var(--bg-color);
    margin: .8rem 0 1.8rem;
}

.btn {
    padding: .8rem 3rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-weight: 500;
    border-radius: 5px;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
}

.btn:hover {
    background-color: #8a5f4d;
}

/* about */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about .about-img img {
    border-radius: .5rem;
}

.about h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.about .about-deskripsi p {
    font-size: .9rem;
    margin: .5rem 0 1rem;
    font-weight: 300;
}

/* Products */
.products .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products .products-container .card {
    position: relative;
    padding: 1rem .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.products .products-container .card-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
    background-color: var(--second-color);
}

.products .products-container .card h4 {
    font-size: 1rem;
    margin: 1rem 0;
}

.products .products-container .card .card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products .products-container .card .card-content span {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: .3rem 1rem;
    border-radius: .2rem;
}

.products .products-container .card .card-content a {
    font-size: .9rem;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
    padding: .3rem 1.2rem;
    border-radius: .2rem;
    transition: .3s ease-in-out;
}

.products .products-container .card .card-content a:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

/* custumers */
.customers .container-customers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers .container-customers .card {
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

.customers .container-customers .card:hover {
    background-color: var(--second-color);
}

.customers .container-customers .card .start i {
    color: var(--primary-color);
}

.customers .container-customers .card p {
    font-size: .985rem;
    margin: .5rem 0;
}

.customers .container-customers .card h2 {
    font-size: 1.2rem;
    font-weight: 55;
    margin-bottom: .7rem;
}

.customers .container-customers .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* footer */
.container-footer {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
}

.container-footer .footer-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.container-footer .footer-box p {
    font-size: .9rem;
    margin-bottom: .9rem;
}

.container-footer .footer-box .social {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.container-footer .footer-box .social i,
.container-footer .footer-box .contact i {
    background-color: var(--second-color);
    padding: .5rem;
    border: 1px solid var(--primary-color);
    border-radius: .3rem;
    transition: .3s ease-in-out;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.container-footer .footer-box .social i:hover,
.container-footer .footer-box .contact i:hover {
    color: var(--text-color);
    background-color: white;
}

.container-footer .footer-box li a {
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

.container-footer .footer-box li {
    /* font-size: .9rem; */
    margin-bottom: .6rem;
}

.container-footer .footer-box .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
}

.container-footer .footer-box .contact span {
    font-size: .9rem;
}

.container-footer .footer-box .contact span i {
    margin-right: .5rem;
}

footer .copyright {
    background-color: var(--text-color);
    padding: .8rem 0;
}

footer .copyright p {
    color: var(--bg-color);
    font-size: .7rem;
    font-style: italic;
    text-align: center;
    transition: all .3s ease-in-out;
}